body {
    font-family: arial, sans-serif;
}

nav {
    width: 1920px;
    height: 60px;
    background: #344051;
    position: fixed;
}

.logo {
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
    -webkit-animation: ease comming 2s;
    -o-animation: ease comming 2s;
    animation: ease comming 2s;
}

main {
    width: 100%;
    height: 100%;
}

.menu {
    float: left;
    padding-left: 432px;
}

.menu li {
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-animation: topshift ease 0.5s forwards;
    -o-animation: topshift ease 0.5s forwards;
    animation: topshift ease 0.5s forwards;
    opacity: 0;
}



.main {
    width: 1920px;
    height: calc(100% - 60px);
    background: url(../img/boy.png) 90% 100% / auto 90% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
    box-shadow: 0px 2px;
}

.title__conteiner {
    float: left;
    margin: 432px 0px 0px 404px;
    color: #2c384a;
    text-align: center;
    -webkit-animation: ease titlemove 1s forwards;
    -o-animation: ease titlemove 1s forwards;
    animation: ease titlemove 1s forwards;
    -webkit-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
    opacity: 0;
}

.title__conteiner h1 {
    font-size: 60px;
    font-weight: bold;
}

.title__conteiner h4 {
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
}

.title__conteiner input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;
}

.about__me {
    height: 720px;
    float: left;
    margin: 600px 0px 0px 200px;
    color: #2c384a;
    text-align: center;
    opacity: 0;
    -webkit-animation: aboutmove ease 1s forwards;
    -o-animation: aboutmove ease 1s forwards;
    animation: aboutmove ease 1s forwards;
    -webkit-animation-delay: 3s;
    -o-animation-delay: 3s;
    animation-delay: 3s;
}

.about__me h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25%;
}

.about__me {
    background: url(../img/Hline.png) 50% 10% no-repeat, url(../img/boygrey.png) 50% 25% no-repeat;
}

.about__me p {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 22px;
    color: #79818d;
}

.about__me input {
    margin-top: 7%;
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 40px;
    background: url(../img/icon_load.png)10% 40%/ 10% no-repeat;
}

.what__i__can {
    width: 1920px;
    height: 550px;
    float: left;
    margin: 100px 0px 0px 0px;
    color: #2c384a;
    text-align: center;
    background: url(../img/Hline.png) 50% 27% no-repeat, url(../img/bg2.jpg) center/cover no-repeat;
    opacity: 0;
    -webkit-animation: cantmove ease 1s forwards;
    -o-animation: cantmove ease 1s forwards;
    animation: cantmove ease 1s forwards;
    -webkit-animation-delay: 4s;
    -o-animation-delay: 4s;
    animation-delay: 4s;

}

.what__i__can h2 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 5%;
    text-align: center;
}

.what__i__can1 {
    float: left;
    margin-top: 7%;
    margin-left: 7%;
    padding-top: 4%;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    background: url(../img/nbook.png)50% 10% no-repeat;
}

.what__i__can1 h3 {
    color: #ff8900;
    font-weight: bold;
    margin-bottom: 5%;
}

.what__i__can2 {
    float: left;
    margin-top: 7%;
    margin-left: 7%;
    padding-top: 4%;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    background: url(../img/znak.png)50% 10% no-repeat;
}

.what__i__can2 h3 {
    color: #ff8900;
    font-weight: bold;
    margin-bottom: 5%;
}

.what__i__can3 {
    float: left;
    margin-top: 7%;
    margin-left: 7%;
    padding-top: 4%;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    background: url(../img/rocket.png)50% 10% no-repeat;
}

.what__i__can3 h3 {
    color: #ff8900;
    font-weight: bold;
    margin-bottom: 5%;
}

.what__i__can4 {
    float: left;
    margin-top: 7%;
    margin-left: 7%;
    padding-top: 4%;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    background: url(../img/gramof.png)50% 10% no-repeat;
}

.what__i__can4 h3 {
    color: #ff8900;
    font-weight: bold;
    margin-bottom: 5%;
}

.case {
    width: 1920px;
    height: 800px;
    float: left;
    margin-top: 5%;
    background: url(../img/Hline.png) 50% 10% no-repeat, url(../img/foto1.jpg) 50% 95% no-repeat;
    opacity: 0;
    -webkit-animation: casemove ease 1s forwards;
    -o-animation: casemove ease 1s forwards;
    animation: casemove ease 1s forwards;
    -webkit-animation-delay: 5s;
    -o-animation-delay: 5s;
    animation-delay: 5s;


}

.case h2 {
    margin-left: 910px;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}

.case h4 {
    font-size: 20px;
    text-align: left;
    margin-left: 38%;
    margin-top: 6%;
}

.case1 {
    width: 200px;
    height: 300px;
    float: left;
    margin-top: 2%;
    margin-left: 19%;
    opacity: 0;
    -webkit-animation: case1 1s ease forwards;
    -o-animation: case1 1s ease forwards;
    animation: case1 1s ease forwards;
    -webkit-animation-delay: 5.7s;
    -o-animation-delay: 5.7s;
    animation-delay: 5.7s;
}

.case1 h3 {
    font-size: 25px;
    text-align: left;
    font-weight: bold;
    padding-top: 2%;
}

.case1 p {
    font-size: 20px;
    text-align: left;
    padding-top: 15px;
}

.case1 input {
    margin-top: 25px;
    border: 4px solid #63b5ae;
    border-radius: 5px;
    padding: 10px 20px;
    background: #63b5ae;
    color: #fff;
}

.case2 {
    width: 900px;
    height: 10px;
    float: left;
    margin-top: 2%;
    margin-left: 5%;
    opacity: 0;
    -webkit-animation: case2 1s ease forwards;
    -o-animation: case2 1s ease forwards;
    animation: case2 1s ease forwards;
    -webkit-animation-delay: 5.7s;
    -o-animation-delay: 5.7s;
    animation-delay: 5.7s;
}

.case2 h3 {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 10px;
}

.case2 p {
    line-height: 20px;
}

.price {
    width: 1000px;
    height: 1000px;
    float: left;
    background: url(../img/line_res.png) 0% 65%/770px 3px no-repeat;
    opacity: 0;
    -webkit-animation: pricemove ease 1s forwards;
    -o-animation: pricemove ease 1s forwards;
    animation: pricemove ease 1s forwards;
    -webkit-animation-delay: 6s;
    -o-animation-delay: 6s;
    animation-delay: 6s;
}

.price h2 {
    margin-top: 30%;
    margin-left: 25%;
    font-size: 29px;
    font-weight: bold;
    margin-bottom: 5%;
}

.price h3 {
    font-size: 23px;
    margin-top: 2%;
    text-transform: uppercase;
    font-weight: 700;
}

.price select {
    border: 4px solid #eeeeee;
    background: #eeeeee;
    width: 770px;
    height: 45px;
}

.price h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 50px;
    line-height: 30px;
}

.statistics {
    width: 1920px;
    height: 600px;
    float: left;
    color: #2c384a;
    text-align: center;
    background: url(../img/Hline.png) 50% 30% no-repeat, url(../img/fon1.jpg) center/contain no-repeat;
    opacity: 0;
    -webkit-animation: statisticmove ease 1s forwards;
    -o-animation: statisticmove ease 1s forwards;
    animation: statisticmove ease 1s forwards;
    -webkit-animation-delay: 7s;
    -o-animation-delay: 7s;
    animation-delay: 7s;
}

.statistics h2 {
    margin-top: 5%;
    font-size: 33px;
    font-weight: bold;
}

.statistics1 {
    float: left;
    margin-top: 7%;
    margin-left: 12%;
    padding-top: 4%;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    background: url(../img/smile.png)50% 10% no-repeat;
}

.statistics1 h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 8%;
}

.statistics2 {
    float: left;
    margin-top: 7%;
    margin-left: 12%;
    padding-top: 4%;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    background: url(../img/skobki.png)50% 10% no-repeat;
}

.statistics2 h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 8%;
}

.statistics3 {
    float: left;
    margin-top: 7%;
    margin-left: 12%;
    padding-top: 4%;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    background: url(../img/galochka.png)50% 10% no-repeat;
}

.statistics3 h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 8%;
}

.statistics4 {
    float: left;
    margin-top: 7%;
    margin-left: 12%;
    padding-top: 4%;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    background: url(../img/kubok.png)50% 10% no-repeat;
}

.statistics4 h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 8%;
}
.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
  }
.review {
    width: 1920px;
    height: 600px;
    float: left;
    background: url(../img/Hline.png) 50% 13% no-repeat, url(../img/foto2.png) 50% 30%/7% no-repeat, url(../img/tochka.png) 48% 90% no-repeat, url(../img/tochka1.png) 50% 90% no-repeat, url(../img/tochka1.png) 52% 90% no-repeat;
    opacity: 0;
    -webkit-animation: feedbmove ease 1s forwards;
    -o-animation: feedbmove ease 1s forwards;
    animation: feedbmove ease 1s forwards;
    -webkit-animation-delay: 8s;
    -o-animation-delay: 8s;
    animation-delay: 8s;
}

.review h2 {
    margin-left: 47%;
    font-size: 29px;
    font-weight: bold;
    margin-bottom: 15%;
}

.review p {
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

.contact {
    width: 1920px;
    height: 800px;
    color: #fff;
    float: left;
    background: url(../img/Hline.png) 50% 16% no-repeat, url(../img/geo.png) 720px 35% no-repeat, url(../img/convert.png) 935px 35% no-repeat, url(../img/phone.png) 1165px 35% no-repeat, url(../img/fon2.jpg) center/cover no-repeat;
    opacity: 0;
    -webkit-animation: contactmove ease 1s forwards;
    -o-animation: contactmove ease 1s forwards;
    animation: contactmove ease 1s forwards;
    -webkit-animation-delay: 9s;
    -o-animation-delay: 9s;
    animation-delay: 9s;
}

.contact h2 {
    text-align: center;
    margin-top: 3%;
    font-size: 29px;
    font-weight: bold;
    margin-bottom: 5%;
}

.contact p {
    text-align: center;
}

.contact1 {
    width: 900px;
    height: 120px;
    margin-left: 32%;
    margin-top: 3%;
}

.contact1 li {
    text-align: center;
    float: left;
    font-weight: bold;
    margin-top: 6%;
    padding: 0% 10%;

}

.contact h3 {
    text-align: center;
    font-size: 29px;
    font-weight: bold;
    margin-bottom: 2%;
}

.contact2 {
    width: 900px;
    height: 120px;
    margin-left: 38%;
    margin-top: 3%;
    opacity: 0.6;
}

.contact2 input {
    margin-bottom: 1%;
    margin-right: 3%;
    padding-left: 5px;
    width: 210px;
    height: 30px;
}

.contact3 {
    margin-top: 4%;
    margin-left: 38%;
}

.contact3 input {
    color: #ffffff;
    font-weight: 700;
    margin-left: 140px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 10px 50px;
    background: none;
}

.map {
    width: 1920px;
    . height: 360px;
    float: left;
    background: url(../img/map.jpg) center/cover no-repeat;
}

.menu li a {
    transition: all 0.15s;
    color: white;
    transform: scale(1);
    display: inline-block;
}

.menu li a:visited {
    color: white;
}

.menu li a:hover {
    color: #f68d03;
}

.menu li a:active {
    transform: scale(1.1);
}

.title__conteiner input {
    transition: all 0.15s;
    transform: scale(1);
}

.title__conteiner input:hover {
    background: #344051;
    color: white;
}

.title__conteiner input:active {
    transform: scale(1.1);
}

.about__me input {
    transition: all 0.15s;
    transform: scale(1);
}

.about__me input:hover {
    color: #f68d03;
}

.about__me input:active {
    transform: scale(1.1);
}

.case1 input {
    transition: all 0.15s;
    transform: scale(1);
}

.case1 input:hover {
    color: black;
}

.case1 input:active {
    transform: scale(1.1);
}

.contact3 input {
    transition: all 0.15s;
    transform: scale(1);
}

.contact3 input:hover {
    color: #f68d03;
    border: solid #f68d03;
}

.contact3 input:active {
    transform: scale(1.1);
}

@keyframes comming {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes topshift {
    from {
        opacity: 0;
        margin-top: -80px;
    }

    to {
        opacity: 1;
        margin-top: 0px;
    }
}

.menu li:nth-child(2) {
    animation-delay: 0.4s;
}

.menu li:nth-child(3) {
    animation-delay: 0.8s;
}

.menu li:nth-child(4) {
    animation-delay: 1.2s;
}

.menu li:nth-child(5) {
    animation-delay: 1.6s;
}

.menu li:nth-child(6) {
    animation-delay: 2s;
}

@keyframes titlemove {
    from {
        opacity: 0;
        margin-left: -500px;
    }

    to {
        opacity: 1;
        margin-left: 404px;
    }
}

@keyframes aboutmove {
    from {
        opacity: 0;
        margin-left: -500px;
    }

    to {
        opacity: 1;
        margin-left: 215px;
    }
}

@keyframes cantmove {
    from {
        opacity: 0;
        margin-left: -500px;
    }

    to {
        opacity: 1;
        margin-left: 0px;
    }
}

@keyframes casemove {
    from {
        opacity: 0;
        margin-left: -500px;
    }

    to {
        opacity: 1;
        margin-left: 0px;
    }
}

@keyframes pricemove {
    from {
        opacity: 0;
        margin-left: -500px;
    }

    to {
        opacity: 1;
        margin-left: 0px;
    }
}

@keyframes statisticmove {
    from {
        opacity: 0;
        margin-left: -500px;
    }

    to {
        opacity: 1;
        margin-left: 0px;
    }
}

@keyframes feedbmove {
    from {
        opacity: 0;
        margin-left: -500px;
    }

    to {
        opacity: 1;
        margin-left: 0px;
    }
}

@keyframes contactmove {
    from {
        opacity: 0;
        margin-left: -500px;
    }

    to {
        opacity: 1;
        margin-left: 0px;
    }
}

@keyframes case1 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes case2 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #fff;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  margin-top: -32px;
  margin-left: -32px;
  background: url(../img/Preloader.gif) no-repeat 50% 50%; 
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}